#root {
  text-align: center;
   background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App{
    width: 30vw;
    background-color: #fff;
    min-height: 50vh;
    padding-bottom: 5vmin;
   
    margin:5vw;
}
.todo-text{
    color: #282c34;
    display: inline-block;
    width:65%;
    font-size: 30px;
}
.todo-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


header{
   background: #1bb4dd;
  color: white;
  padding:3vmin 1rem;
  text-align: center;
  margin: 0 0 8vmin 0;
 
}
.todo-list{
    border-bottom: 1px solid #cecece;
    width:80%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 img, embed, object, video{
        max-width: 100%
        } 
        a, button{
        min-width:48px;
        min-height:48px;
        padding:1.5em;
        }



@media only screen and (max-width: 600px){
    .App{
        width:80vw;
    }
    
    
}